<p id="notice"><%= notice %></p>

<h1>Listing Imoveis</h1>

<table>
  <thead>
    <tr>
      <th>Tipo</th>
      <th>Logradouro</th>
      <th>Numero</th>
      <th>Bairro</th>
      <th>Cidade</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @imoveis.each do |imovel| %>
      <tr>
        <td><%= imovel.tipo %></td>
        <td><%= imovel.logradouro %></td>
        <td><%= imovel.numero %></td>
        <td><%= imovel.bairro %></td>
        <td><%= imovel.cidade %></td>
        <td><%= link_to 'Show', imovel %></td>
        <td><%= link_to 'Edit', edit_imovel_path(imovel) %></td>
        <td><%= link_to 'Destroy', imovel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Imovel', new_imovel_path %>
