<% content_for :titulo do %>
  <i class="fa fa-home" aria-hidden="true"></i> Imóveis
<% end %>

<% content_for :sub_titulo do %>
  <ul class="list-inline pull-right">
    <%= link_to link_icone2('nova','Adicionar'), new_imovel_path, :class=> 'btn btn-success', :title=>"Novo imóvel" %>
  </ul>
  <p>
    Lista de imoveis
  </p>
<% end %>

<table id="tabela" class="display" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Tipo</th>
      <th>Bairro</th>
      <th>Proprietário</th>
      <th>Emplacado</th>
      <th>Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @imoveis.each do |imovel| %>
      <tr>
        <td><%= detalhes(imovel.tipo) %></td>
        <td><%= detalhes2(imovel.bairro,:nome) %></td>
        <td><%= detalhes(imovel.proprietario) %></td>
        <td><%= simnao(imovel.emplacado) %></td>
        <td>
          <%= link_to link_icone('detalhes'), imovel, :class => 'btn btn-default' %>
          <%= link_to link_icone('editar'), edit_imovel_path(imovel), :class => 'btn btn-primary' %>
          <%= link_to link_icone('apagar'), imovel, method: :delete, data: { confirm: 'Você esta certo disso?' }, :class => 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

