<% content_for :titulo do %>
  Imóveis
<% end %>

<% content_for :sub_titulo do %>
  Detalhes do Imóvel
<% end %>

<p>
  <strong>Tipo:</strong>
  <%= detalhes(@imovel.tipo) %>
</p>

<p>
  <strong>Logradouro:</strong>
  <%= detalhes(@imovel.logradouro) %>
</p>

<p>
  <strong>Numero:</strong>
  <%= detalhes(@imovel.numero) %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= detalhes2(@imovel.bairro,:nome) %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= detalhes2(@imovel.user.entidade.cidade, :nome) %>
</p>

<p>
  <strong>Proprietario:</strong>
  <%= detalhes(@imovel.proprietario) %>
</p>

<br/>

<%= link_to link_icone('voltar'), imoveis_path, :class=>'btn btn-default', :title=>"Voltar" %> 
<%= link_to link_icone('editar'), edit_imovel_path(@imovel), :class=>"btn btn-primary", :title=>"Editar" %> 
<%= link_to link_icone('novo'), new_imovel_path, :class=> 'btn btn-success', :title=>"Novo Imóvel" %>

<br/>

<h4> Localização Aproximada no Mapa</h4><br/>
<div>
  <div id="pony" style='min-width: 200px; min-height: 400px;'></div>
</div>



<script type="text/javascript">
document.addEventListener("DOMContentLoaded", function(event) { 
$(document).ready(function(){
  

  map = new GMaps({
    div: '#pony',
    lat: <%= @imovel.latitude %>,
    lng: <%= @imovel.longitude %>
  });

  map.addMarker({
    lat: <%= @imovel.latitude %>,
    lng: <%= @imovel.longitude %>,
    click: function(e) {
      alert(
        "PROPRIETARIO: <%= @imovel.proprietario %> \nENDEREÇO: <%= @imovel.logradouro %>, <%= @imovel.numero %>, <%= @imovel.bairro.nome %>"
        );
    }
  });


infoWindow: {
  content: '<p>HTML Content</p>'
}




});
});


</script>

