<%= simple_form_for(@pessoa) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <div class="row">
      
      <div class="col-lg-6">
        <%= f.input :nome %>
        
        <div class="row">
          <div class="col-lg-8">
            <%= f.input :nascimento %>
          </div>
          <div class="col-lg-4">
            <%= f.input :sexo %>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-7">
            <%= f.input :cpf, :input_html=>{:class=>'cpf', :id=>'cpf'} %>
          </div>
          <div class="col-lg-5">
            <%= f.input :rg %>
          </div>
        </div>

        <%= f.input :titulo %>
        <div class="row">
          <div class="col-lg-5">
            <%= f.input :zona %>
          </div>
          <div class="col-lg-7">
            <%= f.input :secao %>
          </div>
        </div>
        
      </div>

      <div class="col-lg-6">

        <div class="row">
          <div class="col-lg-12">
            <%= f.input :bairro_id, :collection=>current_user.entidade.cidade.bairros.order("nome ASC").collect {|b| [b.nome, b.id]}, as: :select %>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-10">
            <%= f.input :logradouro %>
          </div>
          <div class="col-lg-2">
            <%= f.input :numero %>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-8">
            <%= f.input :email %>
          </div>
          <div class="col-lg-4">
            <%= f.input :contato, :input_html=>{:class=>'telefone'} %>
          </div>
        </div>
        
        <% if current_user.tipo != "MASTER" %>
          <%= f.input :entidade_id, as: :hidden, :input_html=>{:value=>current_user.entidade_id} %>
        <% end %>
        
        <% if current_user.tipo == "USUARIO" %>
          <%= f.input :user_id, as: :hidden, :input_html=>{:value=>current_user.id} %>
        <% elsif current_user != "MASTER" %>

        <% end %>
        
      </div>

    </div>

  </div>

  <br/>

  <div class="form-actions">
    <%= link_to 'Voltar', pessoas_path, :class=>'btn btn-default' %>
    <%= f.button :submit, :class=>"btn btn-primary" %>
  </div>

  <br/>

<% end %>
