<% content_for :titulo do %>
  Pessoas
<% end %>

<% content_for :sub_titulo do %>
  <ul class="list-inline pull-right">
    <%= link_to link_icone2('nova','Adicionar'), new_pessoa_path, :class=> 'btn btn-success', :title=>"Nova Pessoa" %>
  </ul>
  <p>
    Lista de Pessoas
  </p>
<% end %>

<table id="pessoas" class="display" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Nascimento</th>
      <th>Sexo</th>
      <th>Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @pessoas.each do |pessoa| %>
      <tr>
        <td><%= pessoa.nome %></td>
        <td><%= pessoa.nascimento %></td>
        <td><%= pessoa.sexo %></td>
        <td>
          <%= link_to link_icone('detalhes'), pessoa, :class => 'btn btn-default' %>
          <%= link_to link_icone('editar'), edit_pessoa_path(pessoa), :class => 'btn btn-primary' %>
          <%= link_to link_icone('apagar'), pessoa, method: :delete, data: { confirm: 'Você esta certo disso?' }, :class => 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br/>