<% content_for :titulo do %>
  Pessoas
<% end %>

<% content_for :sub_titulo do %>
  Detalhes da Pessoa
<% end %>

<p>
  <strong>Nome:</strong>
  <%= @pessoa.nome %>
</p>

<p>
  <strong>Nascimento:</strong>
  <%= @pessoa.nascimento %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @pessoa.sexo %>
</p>

<p>
  <strong>Rg:</strong>
  <%= detalhes(@pessoa.rg) %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= detalhes(@pessoa.cpf) %>
</p>

<p>
  <strong>Titulo:</strong>
  <%= detalhes(@pessoa.titulo) %>
</p>

<p>
  <strong>Zona:</strong>
  <%= detalhes(@pessoa.zona) %>
</p>

<p>
  <strong>Secao:</strong>
  <%= detalhes(@pessoa.secao) %>
</p>

<p>
  <strong>Logradouro:</strong>
  <%= @pessoa.logradouro %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @pessoa.numero %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= detalhes2(@pessoa.bairro, :nome) %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= detalhes2(@pessoa.bairro.cidade, :nome) %>
</p>

<p>
  <strong>Contato:</strong>
  <%= detalhes(@pessoa.contato) %>
</p>

<p>
  <strong>Email:</strong>
  <%= detalhes(@pessoa.email) %>
</p>


<p>
  <strong>Superior:</strong>
  <%= detalhes2(@pessoa.user, :name) %>
</p>

<br/>

<%= link_to link_icone('voltar'), pessoas_path, :class=>'btn btn-default', :title=>"Voltar" %> 
<%= link_to link_icone('editar'), edit_pessoa_path(@pessoa), :class=>"btn btn-primary", :title=>"Editar" %> 
<%= link_to link_icone('novo'), new_pessoa_path, :class=> 'btn btn-success', :title=>"Nova pessoa" %>

<br/>
