<% content_for :titulo do %>
  Pessoas
<% end %>

<% content_for :sub_titulo do %>
  Detalhes da Pessoa
<% end %>

<p>
  <strong>Nome:</strong>
  <%= @pessoa.nome %>
</p>

<p>
  <strong>Nascimento:</strong>
  <%= @pessoa.nascimento %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @pessoa.sexo %>
</p>

<p>
  <strong>Rg:</strong>
  <%= detalhes(@pessoa.rg) %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= detalhes(@pessoa.cpf) %>
</p>

<p>
  <strong>Titulo:</strong>
  <%= detalhes(@pessoa.titulo) %>
</p>

<p>
  <strong>Zona:</strong>
  <%= detalhes(@pessoa.zona) %>
</p>

<p>
  <strong>Secao:</strong>
  <%= detalhes(@pessoa.secao) %>
</p>

<p>
  <strong>Logradouro:</strong>
  <%= @pessoa.logradouro %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @pessoa.numero %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= detalhes2(@pessoa.bairro, :nome) %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= detalhes2(@pessoa.bairro.cidade, :nome) %>
</p>

<p>
  <strong>Contato:</strong>
  <%= detalhes(@pessoa.contato) %>
</p>

<p>
  <strong>Email:</strong>
  <%= detalhes(@pessoa.email) %>
</p>


<p>
  <strong>Superior:</strong>
  <%= detalhes2(@pessoa.user, :name) %>
</p>

<br/>

<%= link_to link_icone('voltar'), pessoas_path, :class=>'btn btn-default', :title=>"Voltar" %> 
<%= link_to link_icone('editar'), edit_pessoa_path(@pessoa), :class=>"btn btn-primary", :title=>"Editar" %> 
<% if can? :create, Pessoa %>
  <%= link_to link_icone('novo'), new_pessoa_path, :class=> 'btn btn-success', :title=>"Nova pessoa" %>
<% end %>
<br/>

<br/>

<h4> Localização Aproximada no Mapa</h4><br/>
<div>
  <div id="pony" style='min-width: 200px; min-height: 400px;'></div>
</div>



<script type="text/javascript">
document.addEventListener("DOMContentLoaded", function(event) { 
$(document).ready(function(){
  

  map = new GMaps({
    div: '#pony',
    lat: <%= @pessoa.latitude %>,
    lng: <%= @pessoa.longitude %>
  });

  map.addMarker({
    lat: <%= @pessoa.latitude %>,
    lng: <%= @pessoa.longitude %>,
    click: function(e) {
      alert(
        "NOME: <%= @pessoa.nome %> \nENDEREÇO: <%= @pessoa.logradouro %>, <%= @pessoa.numero %>, <%= @pessoa.bairro.nome %>"
        );
    }
  });


infoWindow: {
  content: '<p>HTML Content</p>'
}




});
});


</script>

