<%= simple_form_for(@veiculo) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    

    <div class="row">
      <div class="col-lg-6">

        <div class="row">
          <div class="col-lg-12">
            <%= f.input :adesivado,:collection=>@simnao, :include_blank => false %>
          </div>
        </div>

        <div class="row">

          <div class="col-lg-6">
            <%= f.input :tipo,:collection=>@tipos %>
          </div>
          <div class="col-lg-6">
            <%= f.input :placa ,:input_html=>{:class=>"placa"}%>
          </div>

        </div>    



      </div>

      <div class="col-lg-6">
        <div class="row">
          <div class="col-lg-6">
            <%= f.input :proprietario, :url => autocomplete_pessoa_nome_pessoas_path, :as => :autocomplete %>
          </div>
          <div class="col-lg-6">
            <%= f.input :contato,:input_html=>{:class=>"telefone"}%>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <%if current_user.tipo=="ADMINISTRADOR"%>
              <%= f.input :user_id,:label=>"Responsável",:collection=>User.da_entidade(current_user.entidade).order(:name).collect{|u|[u.name,u.id]} %>
            <%else%>
              <%= f.input :user_id,:as=>:hidden,:input_html=>{:value=>current_user.id}%>
            <%end%>
          </div>
        </div>

      </div>
    </div>

    

    

  </div>

  <%= f.input :user_id, :as=>:hidden, :input_html=>{:value=>current_user.id}%>

  <%= f.input :entidade_id, :as=>:hidden, :input_html=>{:value=>current_user.entidade_id}%>

  <br/>

  <div class="form-actions">
    <%= link_to 'Voltar', veiculos_path, :class=>'btn btn-default' %>
    <%= f.button :submit, :class=>"btn btn-primary" %>
  </div>

  <br/>

<% end %>
