<% content_for :titulo do %>
  <i class="fa fa-car" aria-hidden="true"></i> Veículos
<% end %>

<% content_for :sub_titulo do %>
  <ul class="list-inline pull-right">
    <%= link_to link_icone2('nova','Adicionar'), new_veiculo_path, :class=> 'btn btn-success', :title=>"Novo Veículo" %>
  </ul>
  <p>
    Lista de Veículos
  </p>
<% end %>

<table id="tabela" class="display" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Tipo</th>
      <th>Placa</th>
      <th>Proprietário</th>
      <th>Adesivado</th>
      <th>Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @veiculos.each do |veiculo| %>
      <tr>
        <td><%= detalhes(veiculo.tipo) %></td>
        <td><%= detalhes(veiculo.placa) %></td>
        <td><%= detalhes(veiculo.proprietario) %></td>
        <td><%= simnao(veiculo.adesivado) %></td>
        <td>
          <%= link_to link_icone('detalhes'), veiculo, :class => 'btn btn-default' %>
          <%= link_to link_icone('editar'), edit_veiculo_path(veiculo), :class => 'btn btn-primary' %>
          <%= link_to link_icone('apagar'), veiculo, method: :delete, data: { confirm: 'Você esta certo disso?' }, :class => 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

