<% content_for :titulo do %>
  Veículos
<% end %>

<% content_for :sub_titulo do %>
  Detalhes do Veículo
<% end %>


<p>
  <strong>Tipo:</strong>
  <%= detalhes(@veiculo.tipo) %>
</p>

<p>
  <strong>Placa:</strong>
  <%= detalhes(@veiculo.placa) %>
</p>

<p>
  <strong>Proprietario:</strong>
  <%= detalhes(@veiculo.proprietario) %>
</p>

<p>
  <strong>Contato:</strong>
  <%= detalhes(@veiculo.contato) %>
</p>

<p>
  <strong>Responsavel:</strong>
  <%= detalhes2(@veiculo.user,:name) %>
</p>
<br/>

<%= link_to link_icone('voltar'), veiculos_path, :class=>'btn btn-default', :title=>"Voltar" %> 
<%= link_to link_icone('editar'), edit_veiculo_path(@veiculo), :class=>"btn btn-primary", :title=>"Editar" %> 
<%= link_to link_icone('novo'), new_veiculo_path, :class=> 'btn btn-success', :title=>"Novo Veículo" %>

<br/>
