<%= simple_form_for(@agenda) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :data %>
    <%= f.input :hora %>
    <%= f.input :responsavel %>
    <%= f.input :contato %>
    <%= f.input :endereco %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
