<%= simple_form_for(@agenda) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :assunto%> 
    <%= f.input :data_hora %>
    <%#= f.input :hora,:input_html=>{:class=>"hora"}  %>
    <%= f.input :contato,:input_html=>{:class=>"telefone"} %>
    <%= f.input :endereco %>
   <%if current_user.tipo=="ADMINISTRADOR"%>
     <%= f.input :user_id,:label=>"Responsável",:collection=>User.da_entidade(current_user.entidade).order(:name).collect{|u|[u.name,u.id]} %>
    <%else%>
    <%= f.input :user_id,:as=>:hidden,:input_html=>{:value=>current_user.id}%>
    <%end%>
  </div>

  <%= f.input :user_id,:as=>:hidden,:input_html=>{:value=>current_user.id}%>
  <%= f.input :entidade,:as=>:hidden,:input_html=>{:value=>current_user.id}%>

<div class="form-actions">
    <%= link_to 'Voltar', agendas_path, :class=>'btn btn-default' %>
    <%= f.button :submit, :class=>"btn btn-primary" %>
  </div>
<% end %>
