<p id="notice"><%= notice %></p>

<h1>Listing Agendas</h1>

<table>
  <thead>
    <tr>
      <th>Data</th>
      <th>Hora</th>
      <th>Responsavel</th>
      <th>Contato</th>
      <th>Endereco</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @agendas.each do |agenda| %>
      <tr>
        <td><%= agenda.data %></td>
        <td><%= agenda.hora %></td>
        <td><%= agenda.responsavel %></td>
        <td><%= agenda.contato %></td>
        <td><%= agenda.endereco %></td>
        <td><%= link_to 'Show', agenda %></td>
        <td><%= link_to 'Edit', edit_agenda_path(agenda) %></td>
        <td><%= link_to 'Destroy', agenda, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Agenda', new_agenda_path %>
