<% content_for :titulo do %>
 <i class="fa fa-calendar" aria-hidden="true"></i> Agenda
<% end %>

<% content_for :sub_titulo do %>
  <ul class="list-inline pull-right">
    <%= link_to link_icone2('nova','Adicionar'), new_agenda_path, :class=> 'btn btn-success', :title=>"Novo Compromisso" %>
  </ul>
  <p>
    Lista de Compromissos
  </p>
<% end %>

<table id="tabela" class="display" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Data</th>
      <th>Hora</th>
      <th>Responsável</th>
      <th>Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @agendas.each do |agenda| %>
      <tr>
        <td><%= detalhes(agenda.data_hora.strftime("%d/%m/%Y")) %></td>
        <td><%= detalhes(agenda.data_hora.strftime("%H:%M")) %></td>
        <td><%= detalhes2(agenda.user,:name) %></td>
        <td>
          <%= link_to link_icone('detalhes'), agenda, :class => 'btn btn-default' %>
          <%= link_to link_icone('editar'), edit_agenda_path(agenda), :class => 'btn btn-primary' %>
          <%= link_to link_icone('apagar'), agenda, method: :delete, data: { confirm: 'Você esta certo disso?' }, :class => 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

