<% content_for :titulo do %>
  Agenda
<% end %>

<% content_for :sub_titulo do %>
  Detalhes do Compromisso
<% end %>


<p>
  <strong>Data:</strong>
  <%= @agenda.data_hora.strftime("%d/%m/%Y") %>
</p>

<p>
  <strong>Hora:</strong>
  <%= @agenda.data_hora.strftime("%H:%M") %>
</p>

<p>
  <strong>Responsavel:</strong>
  <%= detalhes2(@agenda.user,:name) %>
</p>

<p>
  <strong>Contato:</strong>
  <%= @agenda.contato %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @agenda.endereco %>
</p>

<br/>
<%= link_to link_icone('voltar'), agendas_path, :class=>'btn btn-default', :title=>"Voltar" %> 
<%= link_to link_icone('editar'), edit_agenda_path(@agenda), :class=>"btn btn-primary", :title=>"Editar" %> 
<%= link_to link_icone('novo'), new_agenda_path, :class=> 'btn btn-success', :title=>"Novo Compromisso" %>

<br/>
