<% content_for :titulo do %>
  <i class="fa fa-map" aria-hidden="true"></i> Cidades
<% end %>

<% content_for :sub_titulo do %>
  <ul class="list-inline pull-right">
    <%= link_to link_icone2('nova','Adicionar'), new_cidade_path, :class=> 'btn btn-success', :title=>"Nova Cidade" %>
  </ul>
  <p>
    Lista de Cidades
  </p>
<% end %>

<table id="tabela" class="display" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Numero total</th>
      <th>Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @cidades.each do |cidade| %>
      <tr>
        <td><%= cidade.nome %></td>
        <td><%= cidade.numero_total %></td>
        <td>
          <%= link_to link_icone('detalhes'), cidade, :class => 'btn btn-default' %>
          <%= link_to link_icone('editar'), edit_cidade_path(cidade), :class => 'btn btn-primary' %>
          <%= link_to link_icone('apagar'), cidade, method: :delete, data: { confirm: 'Você esta certo disso?' }, :class => 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

