<% content_for :titulo do %>
  Cidades
<% end %>

<% content_for :sub_titulo do %>
  Detalhes da Cidade
<% end %>
<p>
  <strong>Nome:</strong>
  <%= @cidade.nome %>
</p>

<p>
  <strong>Numero total:</strong>
  <%= @cidade.numero_total %>
</p>

<br/>

<%= link_to link_icone('voltar'), cidades_path, :class=>'btn btn-default', :title=>"Voltar" %> 
<%= link_to link_icone('editar'), edit_cidade_path(@cidade), :class=>"btn btn-primary", :title=>"Editar" %> 
<%= link_to link_icone('novo'), new_cidade_path, :class=> 'btn btn-success', :title=>"Nova Cidade" %>

<br/>
