<%= simple_form_for(@entidade) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    
    <div class="row">
      
      <div class="col-lg-8">
        <%= f.input :nome %>
      </div>

      <div class="col-lg-4">
        <%= f.input :codigo %>
      </div>

    </div>

    <div class="row">
      <div class="col-lg-4">
        <%= f.input :data_criacao %>
      </div>

      <% @lista_cidades = Cidade.order("nome ASC").all %>

      <div class="col-lg-8">
        <%= f.input :cidade_id, :collection=>Cidade.order("nome ASC").collect {|c| [c.nome, c.id]}, as: :select %>
      </div>
    </div>
   
  </div>

  <br/>

  <div class="form-actions">
    <%= link_to 'Voltar', entidades_path, :class=>'btn btn-default' %>
    <%= f.button :submit, :class=>"btn btn-primary" %>
  </div>

  <br/>

<% end %>
