<% content_for :titulo do %>
  Entidades
<% end %>

<% content_for :sub_titulo do %>
  Detalhes da Entidade
<% end %>


<p>
  <strong>Nome:</strong>
  <%= @entidade.nome %>
</p>

<p>
  <strong>Data criacao:</strong>
  <%= @entidade.data_criacao %>
</p>

<p>
  <strong>Codigo:</strong>
  <%= @entidade.codigo %>
</p>

<br/>

<%= link_to link_icone('voltar'), entidades_path, :class=>'btn btn-default', :title=>"Voltar" %> 
<%= link_to link_icone('editar'), edit_entidade_path(@entidade), :class=>"btn btn-primary", :title=>"Editar" %> 
<%= link_to link_icone('novo'), new_entidade_path, :class=> 'btn btn-success', :title=>"Nova Entidade" %>

<br/>
