<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @entidade.nome %>
</p>

<p>
  <strong>Data criacao:</strong>
  <%= @entidade.data_criacao %>
</p>

<p>
  <strong>Codigo:</strong>
  <%= @entidade.codigo %>
</p>

<%= link_to 'Edit', edit_entidade_path(@entidade) %> |
<%= link_to 'Back', entidades_path %>
