<% content_for :titulo do %>
  <i class="fa fa-user" aria-hidden="true"></i> Usuários
<% end %>

<% content_for :sub_titulo do %>
  <ul class="list-inline pull-right">
    <%= link_to link_icone2('novo','Adicionar'), new_usuario_path, :class=> 'btn btn-success', :title=>"Novo Usuário" %>
  </ul>
  <p>
    Lista de Usuários
  </p>
<% end %>

<table id="usuarios" class="display" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Nome</th>
      <th>E-mail</th>
      <th>Tipo</th>
      <th>Ações</th>
      
    </tr>
  </thead>
  <tbody>
    <% @usuarios.each do |usuario| %>
      <% if usuario.ativo == false %>
        <tr class="danger">
      <% elsif usuario.mudar_senha == true %>
        <tr class="info">
      <% else %>
        <tr>
      <% end %>
        <td><%= usuario.name %></td>
        <td><%= usuario.email %></td>
        <td><%= usuario.tipo %></td>
        <td>
          <% if usuario.ativo == true %>
            <%= link_to link_icone('detalhes'),
                      usuario_path(usuario), :class => 'btn btn-default', :title=>"Detalhes" %>
            <%= link_to link_icone('editar'),
                      edit_usuario_path(usuario), :class => 'btn btn-primary', :title=>"Editar" %>
            <% if can? :delete, usuario %>
              <%= link_to link_icone('desativar'), usuario_path(usuario), :class=>"btn btn-danger", method: :delete, data: { confirm: 'Você está certo disso?' }, :title=>"Desativar" %> 
            <% end %>
            <% if can? :redefinir_senha, usuario %>
              <%= link_to link_icone('resetar'), usuario_redefinir_senha_path(usuario), :class=>"btn btn-warning", data: { confirm: 'Você está certo disso?' }, :title=>"Redefinir Senha" %>
            <% end %>
          <% else %>            
            <% if can? :delete, usuario %>
              <%= link_to link_icone('ativar'), usuario_path(usuario), :class=>"btn btn-success", method: :delete, data: { confirm: 'Você está certo disso?' }, :title=>"Ativar" %> 
            <% end %> 
          <% end %>
          
        </td>


      </tr>
    <% end %>
  </tbody>
</table>

<br/>