<% content_for :titulo do %>
Usuários
<% end %>

<% content_for :sub_titulo do %>
<p>
  Novo Usuário
</p>
<% end %>

<%= simple_form_for @usuario, :url=>usuarios_path do |f| %>

<div class="row">

  <div class="col-lg-6">
    <%= f.input :name, :label=>"Nome" %>
  </div>  

  <div class="col-lg-2">
    <%= f.input :nascimento, as: :string, :input_html=>{:class=>'data', :id=>'data', :value=>(@usuario.nascimento.strftime("%d/%m/%Y") if @usuario.nascimento != nil)} %>
  </div>

  <div class="col-lg-2">
    <%= f.input :sexo, :collection=>['M','F'], :include_blank => false %>
  </div>

  <div class="col-lg-2">
   <%= f.input :contato, :input_html=>{:class=>'telefone'} %> 
 </div>

</div>

<div class="row">

  <div class="col-lg-6">
    <%= f.input :email %>
  </div>
  

  <div class="col-lg-2">
    <%if current_user.tipo=="ADMINISTRADOR"%>
    <%=f.input :tipo,:collection=>["DIGITADOR","CONFIRMADOR","CADASTRO"],:include_blank=>true%>
    <%elsif current_user.tipo=="DIGITADOR"%>
    <%=f.input :tipo,:collection=>["COORDENADOR","LIDERANÇA","CADASTRO"],:include_blank=>true%>
    <% elsif current_user.tipo=="MASTER"%>
    <%=f.input :tipo,:collection=>["MASTER","ADMINISTRADOR"],:include_blank=>true%>
    <%end%>
  </div>

   <div id="superior">
   </div>

</div>  

<div class="row">



  <div class="col-lg-6">
    <% if current_user.tipo == "MASTER" %>
    <%= f.input :entidade_id, :label=>"Entidade", :collection=>Entidade.order('nome ASC').collect {|e| [e.nome, e.id]}, as: :select, :input_html => {:class=>"col-xs-2", :required=>true}  %>
    <% end %>
  </div>

</div>
<br>

<div class="row">
  <div class="col-lg-7">
    <%= f.input :logradouro%> 
  </div>

  <div class="col-lg-1">
    <%= f.input :numero%>
  </div>

  <div class="col-lg-4">
   <%= f.input :bairro_id, :collection=>current_user.entidade.cidade.bairros.order("nome ASC").collect {|b| [b.nome, b.id]}, as: :select %>
 </div>

</div>


<br/>

<p class="text-danger">Atenção: A senha gerada sera: "12345678"</p>
<p class="text-info">Apos o primeiro login o usuário sera redirecionado e solicitado a mudar sua senha.

  <%= f.input :password, :as => :hidden, :input_html => {value: "12345678"} %>
  <%= f.input :password_confirmation, :as => :hidden, :input_html => {value: "12345678"} %>

  <br/>

  <div class="form-actions">
    <%= link_to 'Voltar', usuarios_path, :class=>'btn btn-default' %>
    <%= f.button :submit, 'Salvar', :class=>'btn btn-primary' %>
  </div>

  <br/>

  <% end %>