<% content_for :titulo do %>
  Usuários
<% end %>

<% content_for :sub_titulo do %>
  Detalhes do Usuário
<% end %>


<p>
  <strong>Nome:</strong>
  <%= @usuario.name %>
</p>

<p>
  <strong>Superior:</strong>
  <%= detalhes2(@usuario.superior, :name) %>
</p>

<p>
  <strong>Email:</strong>
  <%= @usuario.email %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @usuario.tipo %>
</p>

<p>
  <strong>Ativo:</strong>
  <%= simnao(@usuario.ativo) %>
</p>

<p>
  <strong>Mudar Senha:</strong>
  <%= simnao(@usuario.mudar_senha) %>
</p>

<br/>

<%= link_to link_icone('voltar'), usuarios_path, :class=>'btn btn-default', :title=>"Voltar" %> 
<%= link_to link_icone('editar'), edit_usuario_path(@usuario), :class=>"btn btn-primary", :title=>"Editar" %> 
<%= link_to link_icone('novo'), new_usuario_path, :class=> 'btn btn-success', :title=>"Novo Usuário" %>

<br/>

<br/>

<% if @usuario.tipo == "ADMINISTRADOR" or @usuario.tipo == "COORDENADOR" or @usuario.tipo == "LIDERANCA" or @usuario.tipo == "CADASTRO" %> 

  <h4> Localização Aproximada no Mapa</h4><br/>
  <div>
    <div id="pony" style='min-width: 200px; min-height: 400px;'></div>
  </div>



  <script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function(event) { 
  $(document).ready(function(){
    

    map = new GMaps({
      div: '#pony',
      lat: <%= @usuario.latitude %>,
      lng: <%= @usuario.longitude %>
    });

    map.addMarker({
      lat: <%= @usuario.latitude %>,
      lng: <%= @usuario.longitude %>,
      click: function(e) {
        alert(
          "NOME: <%= @usuario.name %> \nENDEREÇO: <%= @usuario.logradouro %>, <%= @usuario.numero %>, <%= @usuario.bairro.nome %> \nTIPO: <%= @usuario.tipo %>"
          );
      }
    });


  infoWindow: {
    content: '<p>HTML Content</p>'
  }




  });
  });


  </script>

<% end %>

