<% content_for :titulo do %>
  <i class="fa fa-map-marker" aria-hidden="true"></i> Bairros
<% end %>

<% content_for :sub_titulo do %>
  <ul class="list-inline pull-right">
    <%= link_to link_icone2('novo','Adicionar'), new_bairro_path, :class=> 'btn btn-success', :title=>"Novo Bairro" %>
  </ul>
  <p>
    Lista de Bairros
  </p>
<% end %>

<table id="tabela" class="display" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Cidade</th>
      <th>Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @bairros.each do |bairro| %>
      <tr>
        <td><%= bairro.nome %></td>
        <td><%= detalhes2(bairro.cidade, :nome) %></td>
        <td>
          <%= link_to link_icone('detalhes'), bairro, :class => 'btn btn-default' %>
          <%= link_to link_icone('editar'), edit_bairro_path(bairro), :class => 'btn btn-primary' %>
          <%= link_to link_icone('apagar'), bairro, method: :delete, data: { confirm: 'Você esta certo disso?' }, :class => 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
