<% content_for :titulo do %>
  Bairros
<% end %>

<% content_for :sub_titulo do %>
  Detalhes do Bairro
<% end %>

<p>
  <strong>Nome:</strong>
  <%= @bairro.nome %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= detalhes2(@bairro.cidade, :nome) %>
</p>

<br/>

<%= link_to link_icone('voltar'), bairros_path, :class=>'btn btn-default', :title=>"Voltar" %> 
<%= link_to link_icone('editar'), edit_bairro_path(@bairro), :class=>"btn btn-primary", :title=>"Editar" %> 
<%= link_to link_icone('novo'), new_bairro_path, :class=> 'btn btn-success', :title=>"Novo bairro" %>

<br/>
